@model Web.Models.CashBillDetail

@{
    ViewBag.Title = "Details";
   
}

<h2>Details</h2>

<div>
    <h4>CashBillDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashBill.BillCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashBill.BillCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
