@model IEnumerable<Web.Models.CashBillDetail>

@{
    ViewBag.Title = "Index";
 
}

<h2>Hóa Đơn </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CashBill.BillCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CashBill.BillCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductCode)
        </td>
        <td>
            <a href="@Url.Action("Edit",new{ID = item.ID})">
                <span class="glyphicon glyphicon-pencil"> |</span>
            </a>
            <a class="pull-right" href="@Url.Action("Delete",new{id=item.ID})">
                <span class="glyphicon glyphicon-trash"> |</span>
            </a>
        </td>
    </tr>
}

</table>
